NEXT_PUBLIC_LIVEKIT_URL=wss://your-project.livekit.cloud
LIVEKIT_API_KEY=
LIVEKIT_API_SECRET=
NEXT_PUBLIC_AVATAR_URL=https://models.readyplayer.me/64bfa15f0e72c63d7c3934a6.glb
NEXT_PUBLIC_BACKEND_URL=http://localhost:8000
